.card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border-color: gray;
  border-style: solid;
  border-width: 2px;
  margin: 8px;
  height: 200px;
  width: 700px;
}

.firstCardGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 34%;
  border-right: solid;
  border-width: 1px;
  border-color: gray;
}

.firstCardGroupContent {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.aviaCompanyImage {
  object-fit: contain;
  margin-bottom: 30px;
}

.secondCardGroup {
  height: 100%;
  width: 66%;
}

.secondCardGroupContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardInfoItem {
  margin: 20px;
}

.departureInfo {
  text-align: left;
}

.arrivalInfo {
  text-align: right;
}

.ticketTime {
  font-size: 40px;
}

.departure {
  font-weight: bold;
}

.date {
  color: gray;
}

.cardsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.mainBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stopsGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
